{% extends "layout.html" %}
{% block content %}
    <style>
    .hide {  display: none;  }
    .show {  display: inline-block;  }
    </style>
<style>
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}
.button {
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
}
.button:hover {
    background-color: #008CBA;
    color: white;
}
</style>
</head>

<body>

    <button class="button" value="Show chest pain type " onclick="fn0()" style="display:block;" id="0">Show chest pain type </button>
    <img src="/static/images/chest pain type.png" id="img0" class="hide" />
    <script>
        function fn0() {
            var img = document.getElementById("img0");
            if (document.getElementById("0").innerHTML == "Hide chest pain type") {
                img.className = "hide";
                document.getElementById("0").innerHTML = "Show chest pain type";}
            else {
                img.className = "show";
                document.getElementById("0").innerHTML = "Hide chest pain type";}
        }
    </script>

<!-- -&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;-->
    <button class="button" value="Show chol serum cholestoral in mg-dl " onclick="fn1()" style="display:block;" id="1">Show chol serum cholestoral in mg-dl </button>
    <img src="/static/images/chol serum cholestoral in mg-dl.png" id="img1" class="hide" />
    <script>
        function fn1() {
            var img = document.getElementById("img1");
            if (document.getElementById("1").innerHTML == "Hide chol serum cholestoral in mg-dl") {
                img.className = "hide";
                document.getElementById("1").innerHTML = "Show chol serum cholestoral in mg-dl";}
            else {
                img.className = "show";
                document.getElementById("1").innerHTML = "Hide chol serum cholestoral in mg-dl";}
        }
    </script>

<!-- -&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;-->
    <button class="button" value="Show exercise induced angina " onclick="fn2()" style="display:block;" id="2">Show exercise induced angina </button>
    <img src="/static/images/exercise induced angina.png" id="img2" class="hide" />
    <script>
        function fn2() {
            var img = document.getElementById("img2");
            if (document.getElementById("2").innerHTML == "Hide exercise induced angina") {
                img.className = "hide";
                document.getElementById("2").innerHTML = "Show exercise induced angina";}
            else {
                img.className = "show";
                document.getElementById("2").innerHTML = "Hide exercise induced angina";}
        }
    </script>

<!-- -&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;-->
    <button class="button" value="Show fasting blood sugar " onclick="fn3()" style="display:block;" id="3">Show fasting blood sugar </button>
    <img src="/static/images/fasting blood sugar.png" id="img3" class="hide" />
    <script>
        function fn3() {
            var img = document.getElementById("img3");
            if (document.getElementById("3").innerHTML == "Hide fasting blood sugar") {
                img.className = "hide";
                document.getElementById("3").innerHTML = "Show fasting blood sugar";}
            else {
                img.className = "show";
                document.getElementById("3").innerHTML = "Hide fasting blood sugar";}
        }
    </script>

<!-- -&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;-->
    <button class="button" value="Show number of major vessels (0-3) colored by flourosopy " onclick="fn4()" style="display:block;" id="4">Show number of major vessels (0-3) colored by flourosopy </button>
    <img src="/static/images/number of major vessels (0-3) colored by flourosopy.png" id="img4" class="hide" />
    <script>
        function fn4() {
            var img = document.getElementById("img4");
            if (document.getElementById("4").innerHTML == "Hide number of major vessels (0-3) colored by flourosopy") {
                img.className = "hide";
                document.getElementById("4").innerHTML = "Show number of major vessels (0-3) colored by flourosopy";}
            else {
                img.className = "show";
                document.getElementById("4").innerHTML = "Hide number of major vessels (0-3) colored by flourosopy";}
        }
    </script>

<!-- -&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;-->
    <button class="button" value="Show oldpeak = ST depression induced by exercise relative to rest " onclick="fn5()" style="display:block;" id="5">Show oldpeak = ST depression induced by exercise relative to rest </button>
    <img src="/static/images/oldpeak = ST depression induced by exercise relative to rest.png" id="img5" class="hide" />
    <script>
        function fn5() {
            var img = document.getElementById("img5");
            if (document.getElementById("5").innerHTML == "Hide oldpeak = ST depression induced by exercise relative to rest") {
                img.className = "hide";
                document.getElementById("5").innerHTML = "Show oldpeak = ST depression induced by exercise relative to rest";}
            else {
                img.className = "show";
                document.getElementById("5").innerHTML = "Hide oldpeak = ST depression induced by exercise relative to rest";}
        }
    </script>

<!-- -&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;-->
    <button class="button" value="Show resting blood pressure " onclick="fn6()" style="display:block;" id="6">Show resting blood pressure </button>
    <img src="/static/images/resting blood pressure.png" id="img6" class="hide" />
    <script>
        function fn6() {
            var img = document.getElementById("img6");
            if (document.getElementById("6").innerHTML == "Hide resting blood pressure") {
                img.className = "hide";
                document.getElementById("6").innerHTML = "Show resting blood pressure";}
            else {
                img.className = "show";
                document.getElementById("6").innerHTML = "Hide resting blood pressure";}
        }
    </script>

<!-- -&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;-->
    <button class="button" value="Show resting electrocardiographic results " onclick="fn7()" style="display:block;" id="7">Show resting electrocardiographic results </button>
    <img src="/static/images/resting electrocardiographic results.png" id="img7" class="hide" />
    <script>
        function fn7() {
            var img = document.getElementById("img7");
            if (document.getElementById("7").innerHTML == "Hide resting electrocardiographic results") {
                img.className = "hide";
                document.getElementById("7").innerHTML = "Show resting electrocardiographic results";}
            else {
                img.className = "show";
                document.getElementById("7").innerHTML = "Hide resting electrocardiographic results";}
        }
    </script>
<!-- -&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;-->
    <button class="button" value="Show thal (Thalassemia) " onclick="fn8()" style="display:block;" id="8">Show thal (Thalassemia) </button>
    <img src="/static/images/thal (Thalassemia).png" id="img8" class="hide" />
    <script>
        function fn8() {
            var img = document.getElementById("img8");
            if (document.getElementById("8").innerHTML == "Hide thal (Thalassemia)") {
                img.className = "hide";
                document.getElementById("8").innerHTML = "Show thal (Thalassemia)";}
            else {
                img.className = "show";
                document.getElementById("8").innerHTML = "Hide thal (Thalassemia)";}
        }
    </script>
<!-- -&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;-->
    <button class="button" value="Show thalach maximum heart rate achieved " onclick="fn9()" style="display:block;" id="9">Show thalach maximum heart rate achieved </button>
    <img src="/static/images/thalach maximum heart rate achieved.png" id="img9" class="hide" />
    <script>
        function fn9() {
            var img = document.getElementById("img9");
            if (document.getElementById("9").innerHTML == "Hide thalach maximum heart rate achieved") {
                img.className = "hide";
                document.getElementById("9").innerHTML = "Show thalach maximum heart rate achieved";}
            else {
                img.className = "show";
                document.getElementById("9").innerHTML = "Hide thalach maximum heart rate achieved";}
        }
    </script>
<!-- -&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;-->
    <button class="button" value="Show the slope of the peak exercise ST segment " onclick="fn10()" style="display:block;" id="10">Show the slope of the peak exercise ST segment </button>
    <img src="/static/images/the slope of the peak exercise ST segment.png" id="img10" class="hide" />
    <script>
        function fn10() {
            var img = document.getElementById("img10");
            if (document.getElementById("10").innerHTML == "Hide the slope of the peak exercise ST segment") {
                img.className = "hide";
                document.getElementById("10").innerHTML = "Show the slope of the peak exercise ST segment";}
            else {
                img.className = "show";
                document.getElementById("10").innerHTML = "Hide the slope of the peak exercise ST segment";}
        }
    </script>
<!-- -&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;-->
    <button class="button" value="Show pie chart - chol serum cholestoral in mg-dl " onclick="fn11()" style="display:block;" id="11">Show pie chart - chol serum cholestoral in mg-dl </button>
    <img src="/static/images/pie chart - chol serum cholestoral in mg-dl.png" height="600" width="1400" id="img11" class="hide" />
    <script>
        function fn11() {
            var img = document.getElementById("img11");
            if (document.getElementById("11").innerHTML == "Hide pie chart - chol serum cholestoral in mg-dl") {
                img.className = "hide";
                document.getElementById("11").innerHTML = "Show pie chart - chol serum cholestoral in mg-dl";}
            else {
                img.className = "show";
                document.getElementById("11").innerHTML = "Hide pie chart - chol serum cholestoral in mg-dl";}
        }
    </script>

<!-- -&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;-->
    <button class="button" value="Show pie chart - oldpeak = ST depression induced by exercise relative to rest " onclick="fn12()" style="display:block;" id="12">Show pie chart - oldpeak = ST depression induced by exercise relative to rest </button>
    <img src="/static/images/pie chart - oldpeak = ST depression induced by exercise relative to rest.png" height="600" width="1400" id="img12" class="hide" />
    <script>
        function fn12() {
            var img = document.getElementById("img12");
            if (document.getElementById("12").innerHTML == "Hide pie chart - oldpeak = ST depression induced by exercise relative to rest") {
                img.className = "hide";
                document.getElementById("12").innerHTML = "Show pie chart - oldpeak = ST depression induced by exercise relative to rest";}
            else {
                img.className = "show";
                document.getElementById("12").innerHTML = "Hide pie chart - oldpeak = ST depression induced by exercise relative to rest";}
        }
    </script>

<!-- -&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;-->
    <button class="button" value="Show pie chart - resting blood pressure " onclick="fn13()" style="display:block;" id="13">Show pie chart - resting blood pressure </button>
    <img src="/static/images/pie chart - resting blood pressure.png" height="600" width="1400" id="img13" class="hide" />
    <script>
        function fn13() {
            var img = document.getElementById("img13");
            if (document.getElementById("13").innerHTML == "Hide pie chart - resting blood pressure") {
                img.className = "hide";
                document.getElementById("13").innerHTML = "Show pie chart - resting blood pressure";}
            else {
                img.className = "show";
                document.getElementById("13").innerHTML = "Hide pie chart - resting blood pressure";}
        }
    </script>

<!-- -&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;-->
    <button class="button" value="Show pie chart - thalach maximum heart rate achieved " onclick="fn14()" style="display:block;" id="14">Show pie chart - thalach maximum heart rate achieved </button>
    <img src="/static/images/pie chart - thalach maximum heart rate achieved.png" height="600" width="1400" id="img14" class="hide" />
    <script>
        function fn14() {
            var img = document.getElementById("img14");
            if (document.getElementById("14").innerHTML == "Hide pie chart - thalach maximum heart rate achieved") {
                img.className = "hide";
                document.getElementById("14").innerHTML = "Show pie chart - thalach maximum heart rate achieved";}
            else {
                img.className = "show";
                document.getElementById("14").innerHTML = "Hide pie chart - thalach maximum heart rate achieved";}
        }
    </script>
    <!--{% for post in posts %}-->
        <!--<article class="media content-section">-->
          <!--<div class="media-body">-->
            <!--<h2><a class="article-title" href="#">{{ post.title }}</a></h2>-->
            <!--<p class="article-content">{{ post.content }}</p>-->
              <!--<img src='{{post.img}}' class="img-fluid" alt="Cinque Terre">-->
          <!--</div>-->
        <!--</article>-->
    {% endfor %}
{% endblock content %}